.wrapper {
    margin-top: 8px;
    width: 100%;
    padding: 20px 8px 24px;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}
.title {
    font-family: 'TiktokFont';
    font-size: 1.6rem;
    line-height: 21px;
    margin-bottom: 20px;
    color: rgba(22, 24, 35, 0.5);
    letter-spacing: 0.03;
}

.btn-login {
    width: 100%;
    padding: 14px 8px;
}
